* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.App {
  text-align: center;
  margin: 0 auto;
  max-width: 1200px;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
span {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.2rem;
}

p {
  font-size: 1.6rem;
}

.dashboardHeader {
  align-items: center;
  color: #fff;
  border-bottom: 1px solid rgb(221, 221, 221);
  display: flex;
  height: 70px;
  justify-content: space-between;
  padding: 0 3%;
  width: 100vw;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 2px 15px -8px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 0px 2px 15px -8px rgba(0, 0, 0, 0.42);
  box-shadow: 0px 2px 15px -8px rgba(0, 0, 0, 0.42);
}

.dashboardHeader a {
  font-size: 1.6rem;
  color: black;
  text-decoration: none;
}

.loginContainer {
  height: 100vh;
  width: 100vw;
  background: lightseagreen;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loginForm input {
  width: 380px;
  margin-bottom: 10px;
  padding: 12px 20px;
  outline: none;
  margin-bottom: 15px;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.loginForm button {
  padding: 12px 20px;
  font-size: 20px;
  width: 380px;
  color: white;
  background: salmon;
  border-radius: 4px;
  border: 1px solid white;
  outline: none;
}

.loginForm button:hover {
  opacity: 0.9;
}

.loginForm button .spinner {
  stroke: white;
}

.errorContainer {
  margin-top: 5px;
  display: block;
}

.errors {
  color: red;
  font-size: 12px;
}

.status {
  color: red;
  font-size: 12px;
}

.userDashboardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.postList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.issueCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  border: 1px solid black;
  border-radius: 6px;
  margin: 10px 10px;
  background: #517b96;
  color: white;
}

.issueCard img {
  width: 100%;
}

.issueCard button {
  margin: 10px 10px;
  color: white;
  background: lightskyblue;
}

.issueCard button:hover {
  opacity: 0.9;
}

.addFormContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.addFormContainer form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profileForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.profileForm form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profileForm form input {
  width: 380px;
  margin-bottom: 10px;
  padding: 12px 20px;
  outline: none;
  margin-bottom: 15px;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profileForm form button {
  padding: 12px 20px;
  font-size: 20px;
  width: 380px;
  color: white;
  margin-bottom: 15px;
  background: lightskyblue;
  border-radius: 4px;
  border: 1px solid white;
  outline: none;
}

.loading {
  position: fixed;
  width: 500px;
  height: 200px;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -250px;
}
