.addFormContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    padding-bottom: 60px;
    background: #f2f2f2;

    h2 {
        color: #e01f3d;
    }

    form {
        display: flex;
        flex-direction: column;
        border-radius: 6px;
        padding: 40px 40px;
        background: white;

        @media (max-width: 400px) {
            padding: 30px;
        }

        label {
            text-align: left;
            font-weight: bold;
            margin-bottom: 3px;
            font-size: 1.6rem;
            display: block;
        }

        input {
            width: 380px;
            margin-bottom: 10px;
            padding: 12px 20px;
            outline: none;
            margin-bottom: 15px;
            border-radius: 4px;
            font-size: 1.6rem;
            border: 2px solid #d3d3d3;

            @media (max-width: 400px) {
                width: 300px;
            }
        }

        textarea {
            width: 380px;
            height: 300px;
            margin-bottom: 10px;
            padding: 12px 20px;
            outline: none;
            margin-bottom: 15px;
            border-radius: 4px;
            border: 2px solid #d3d3d3;
            word-wrap: nowrap;
            font-size: 1.6rem;
            font-family: sofia-pro, sans-serif;
            font-style: normal;

            @media (max-width: 400px) {
                width: 300px;
            }
        }

        button {
            padding: 8px 20px;
            font-size: 20px;
            width: 380px;
            color: white;
            background: #e01f3d;
            border-radius: 4px;
            border: 1px solid white;
            outline: none;
            margin-bottom: 10px;

            @media (max-width: 400px) {
                width: 300px;
            }

            &:hover {
                opacity: 0.9;
            }
            .spinner {
                stroke: white;
            }
        }
    }
}
